In [1]:
import pandas as pd

In [2]:
# Importando database
base = pd.read_csv('credit_data.csv')

In [3]:
# Estatísticas do database
base.describe()

        i#clientid        income          age          loan    c#default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [4]:
# Amostra dos dados
base.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [5]:
# Verificando dados com idade negativa
base.loc[base['age'] < 0]

    i#clientid        income        age         loan  c#default
15          16  50501.726689 -28.218361  3977.287432          0
21          22  32197.620701 -52.423280  4244.057136          0
26          27  63287.038908 -36.496976  9595.286289          0

In [6]:
### Maneiras de contornar o problema das idades menores que zero

## 1) Apagar a coluna por inteiro (não recomendada, neste caso)
# base.drop('age', 1, inplace=True)

## 2) Apagar apenas os registros, por completo, que possuem essa incoerência
# base.drop(base[base.age < 0].index, inplace=True)

## 3) Preencher os valores com a média da coluna, apenas dos valores maiores que zero
media = base['age'][base.age > 0].mean()
base.loc[base.age < 0, 'age'] = media

In [7]:
# Verificando valores nulos
base.loc[pd.isnull(base['age'])]

    i#clientid        income  age         loan  c#default
28          29  59417.805406  NaN  2082.625938          0
30          31  48528.852796  NaN  6155.784670          0
31          32  23526.302555  NaN  2862.010139          0

In [8]:
# Divisão do dataset entre variáveis preditoras e target
previsores = base.iloc[:, 1:4].values
classe = base.iloc[:, 4].values

In [9]:
# Substituindo os valores missing pela média de cada coluna
from sklearn.preprocessing import Imputer

imputer = Imputer(missing_values='NaN', strategy='mean', axis=0)
imputer.fit(previsores[:, 0:3])

previsores[:, 0:3] = imputer.transform(previsores[:, 0:3])

In [10]:
## Fazendo o escalonamento (normalização) dos atributos
from sklearn.preprocessing import StandardScaler

# Padronização
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

# Normalização
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# previsores = scaler.fit_transform(previsores)

In [11]:
# Dividindo os dados em treino e teste
from sklearn.model_selection import train_test_split

In [12]:
previsores_train, previsores_test, classe_train, classe_test = train_test_split(previsores, classe, test_size=0.25, random_state=0)

In [13]:
# Modelo Redes Neurais
from sklearn.neural_network import MLPClassifier

In [41]:
classificador = MLPClassifier(
    verbose=True,
    max_iter=500,
    tol=0.00001,
    solver='adam',
    hidden_layer_sizes=(100),
    activation='relu',
    )

In [42]:
classificador.fit(previsores_train, classe_train)

Iteration 1, loss = 0.72719090
Iteration 2, loss = 0.65396861
Iteration 3, loss = 0.59078723
Iteration 4, loss = 0.53645600
Iteration 5, loss = 0.49037435
Iteration 6, loss = 0.45015770
Iteration 7, loss = 0.41523607
Iteration 8, loss = 0.38456154
Iteration 9, loss = 0.35728487
Iteration 10, loss = 0.33327620
Iteration 11, loss = 0.31144185
Iteration 12, loss = 0.29199821
Iteration 13, loss = 0.27458335
Iteration 14, loss = 0.25900377
Iteration 15, loss = 0.24493808
Iteration 16, loss = 0.23237911
Iteration 17, loss = 0.22116095
Iteration 18, loss = 0.21098915
Iteration 19, loss = 0.20172527
Iteration 20, loss = 0.19338834
Iteration 21, loss = 0.18588585
Iteration 22, loss = 0.17889662
Iteration 23, loss = 0.17259952
Iteration 24, loss = 0.16677579
Iteration 25, loss = 0.16142745
Iteration 26, loss = 0.15654611
Iteration 27, loss = 0.15205232
Iteration 28, loss = 0.14778792
Iteration 29, loss = 0.14397278
Iteration 30, loss = 0.14034830
Iteration 31, loss = 0.13696992
Iteration 32, loss = 0.13384240
Iteration 33, loss = 0.13088562
Iteration 34, loss = 0.12812667
Iteration 35, loss = 0.12554588
Iteration 36, loss = 0.12293561
Iteration 37, loss = 0.12070698
Iteration 38, loss = 0.11848323
Iteration 39, loss = 0.11632691
Iteration 40, loss = 0.11428267
Iteration 41, loss = 0.11241606
Iteration 42, loss = 0.11064705
Iteration 43, loss = 0.10886570
Iteration 44, loss = 0.10718344
Iteration 45, loss = 0.10561040
Iteration 46, loss = 0.10410228
Iteration 47, loss = 0.10259410
Iteration 48, loss = 0.10118424
Iteration 49, loss = 0.09984250
Iteration 50, loss = 0.09845442
Iteration 51, loss = 0.09718918
Iteration 52, loss = 0.09602784
Iteration 53, loss = 0.09479522
Iteration 54, loss = 0.09356449
Iteration 55, loss = 0.09247797
Iteration 56, loss = 0.09136647
Iteration 57, loss = 0.09032140
Iteration 58, loss = 0.08927169
Iteration 59, loss = 0.08823189
Iteration 60, loss = 0.08726162
Iteration 61, loss = 0.08629178
Iteration 62, loss = 0.08529499
Iteration 63, loss = 0.08432325
Iteration 64, loss = 0.08340278
Iteration 65, loss = 0.08245557
Iteration 66, loss = 0.08157578
Iteration 67, loss = 0.08066417
Iteration 68, loss = 0.07974852
Iteration 69, loss = 0.07881098
Iteration 70, loss = 0.07789499
Iteration 71, loss = 0.07704202
Iteration 72, loss = 0.07620536
Iteration 73, loss = 0.07539954
Iteration 74, loss = 0.07460246
Iteration 75, loss = 0.07381565
Iteration 76, loss = 0.07303797
Iteration 77, loss = 0.07227295
Iteration 78, loss = 0.07153270
Iteration 79, loss = 0.07083397
Iteration 80, loss = 0.07025567
Iteration 81, loss = 0.06936895
Iteration 82, loss = 0.06870250
Iteration 83, loss = 0.06793946
Iteration 84, loss = 0.06732695
Iteration 85, loss = 0.06666898
Iteration 86, loss = 0.06600457
Iteration 87, loss = 0.06536393
Iteration 88, loss = 0.06470719
Iteration 89, loss = 0.06410261
Iteration 90, loss = 0.06357736
Iteration 91, loss = 0.06290276
Iteration 92, loss = 0.06235130
Iteration 93, loss = 0.06176697
Iteration 94, loss = 0.06113705
Iteration 95, loss = 0.06055968
Iteration 96, loss = 0.06004994
Iteration 97, loss = 0.05946473
Iteration 98, loss = 0.05889511
Iteration 99, loss = 0.05841847
Iteration 100, loss = 0.05782769
Iteration 101, loss = 0.05729845
Iteration 102, loss = 0.05686107
Iteration 103, loss = 0.05629296
Iteration 104, loss = 0.05583689
Iteration 105, loss = 0.05536458
Iteration 106, loss = 0.05511256
Iteration 107, loss = 0.05434526
Iteration 108, loss = 0.05385337
Iteration 109, loss = 0.05336049
Iteration 110, loss = 0.05298940
Iteration 111, loss = 0.05253675
Iteration 112, loss = 0.05214438
Iteration 113, loss = 0.05160689
Iteration 114, loss = 0.05116051
Iteration 115, loss = 0.05073209
Iteration 116, loss = 0.05028422
Iteration 117, loss = 0.04992739
Iteration 118, loss = 0.04948253
Iteration 119, loss = 0.04910490
Iteration 120, loss = 0.04872160
Iteration 121, loss = 0.04834520
Iteration 122, loss = 0.04794055
Iteration 123, loss = 0.04757047
Iteration 124, loss = 0.04730914
Iteration 125, loss = 0.04704213
Iteration 126, loss = 0.04655186
Iteration 127, loss = 0.04623300
Iteration 128, loss = 0.04592490
Iteration 129, loss = 0.04546267
Iteration 130, loss = 0.04510653
Iteration 131, loss = 0.04488218
Iteration 132, loss = 0.04443321
Iteration 133, loss = 0.04411672
Iteration 134, loss = 0.04380920
Iteration 135, loss = 0.04346072
Iteration 136, loss = 0.04316081
Iteration 137, loss = 0.04288854
Iteration 138, loss = 0.04254326
Iteration 139, loss = 0.04230280
Iteration 140, loss = 0.04201462
Iteration 141, loss = 0.04170617
Iteration 142, loss = 0.04140572
Iteration 143, loss = 0.04113738
Iteration 144, loss = 0.04087962
Iteration 145, loss = 0.04057576
Iteration 146, loss = 0.04041546
Iteration 147, loss = 0.04005991
Iteration 148, loss = 0.03974377
Iteration 149, loss = 0.03957398
Iteration 150, loss = 0.03944178
Iteration 151, loss = 0.03902222
Iteration 152, loss = 0.03877159
Iteration 153, loss = 0.03851531
Iteration 154, loss = 0.03826396
Iteration 155, loss = 0.03806834
Iteration 156, loss = 0.03780752
Iteration 157, loss = 0.03752781
Iteration 158, loss = 0.03730515
Iteration 159, loss = 0.03715681
Iteration 160, loss = 0.03691731
Iteration 161, loss = 0.03664740
Iteration 162, loss = 0.03645801
Iteration 163, loss = 0.03621907
Iteration 164, loss = 0.03600471
Iteration 165, loss = 0.03576909
Iteration 166, loss = 0.03558928
Iteration 167, loss = 0.03540738
Iteration 168, loss = 0.03510649
Iteration 169, loss = 0.03503997
Iteration 170, loss = 0.03478009
Iteration 171, loss = 0.03457427
Iteration 172, loss = 0.03438739
Iteration 173, loss = 0.03415400
Iteration 174, loss = 0.03399177
Iteration 175, loss = 0.03393289
Iteration 176, loss = 0.03363278
Iteration 177, loss = 0.03344646
Iteration 178, loss = 0.03323829
Iteration 179, loss = 0.03312417
Iteration 180, loss = 0.03288653
Iteration 181, loss = 0.03276452
Iteration 182, loss = 0.03258236
Iteration 183, loss = 0.03234205
Iteration 184, loss = 0.03215912
Iteration 185, loss = 0.03199994
Iteration 186, loss = 0.03183924
Iteration 187, loss = 0.03167698
Iteration 188, loss = 0.03148536
Iteration 189, loss = 0.03130906
Iteration 190, loss = 0.03119263
Iteration 191, loss = 0.03101300
Iteration 192, loss = 0.03083260
Iteration 193, loss = 0.03078315
Iteration 194, loss = 0.03057214
Iteration 195, loss = 0.03057701
Iteration 196, loss = 0.03022409
Iteration 197, loss = 0.03007805
Iteration 198, loss = 0.02994548
Iteration 199, loss = 0.02984507
Iteration 200, loss = 0.02957685
Iteration 201, loss = 0.02967912
Iteration 202, loss = 0.02945702
Iteration 203, loss = 0.02921864
Iteration 204, loss = 0.02922531
Iteration 205, loss = 0.02891468
Iteration 206, loss = 0.02882012
Iteration 207, loss = 0.02866588
Iteration 208, loss = 0.02851400
Iteration 209, loss = 0.02840798
Iteration 210, loss = 0.02828499
Iteration 211, loss = 0.02811901
Iteration 212, loss = 0.02809315
Iteration 213, loss = 0.02794485
Iteration 214, loss = 0.02779466
Iteration 215, loss = 0.02767426
Iteration 216, loss = 0.02752475
Iteration 217, loss = 0.02744071
Iteration 218, loss = 0.02726984
Iteration 219, loss = 0.02723072
Iteration 220, loss = 0.02709288
Iteration 221, loss = 0.02701825
Iteration 222, loss = 0.02679962
Iteration 223, loss = 0.02666689
Iteration 224, loss = 0.02654746
Iteration 225, loss = 0.02647607
Iteration 226, loss = 0.02632873
Iteration 227, loss = 0.02621841
Iteration 228, loss = 0.02622740
Iteration 229, loss = 0.02601918
Iteration 230, loss = 0.02591535
Iteration 231, loss = 0.02606023
Iteration 232, loss = 0.02580072
Iteration 233, loss = 0.02555709
Iteration 234, loss = 0.02547262
Iteration 235, loss = 0.02539544
Iteration 236, loss = 0.02525103
Iteration 237, loss = 0.02513083
Iteration 238, loss = 0.02505482
Iteration 239, loss = 0.02497742
Iteration 240, loss = 0.02488547
Iteration 241, loss = 0.02475779
Iteration 242, loss = 0.02469604
Iteration 243, loss = 0.02464606
Iteration 244, loss = 0.02443382
Iteration 245, loss = 0.02433463
Iteration 246, loss = 0.02428161
Iteration 247, loss = 0.02421893
Iteration 248, loss = 0.02403541
Iteration 249, loss = 0.02398628
Iteration 250, loss = 0.02387790
Iteration 251, loss = 0.02381476
Iteration 252, loss = 0.02368218
Iteration 253, loss = 0.02363045
Iteration 254, loss = 0.02353790
Iteration 255, loss = 0.02343530
Iteration 256, loss = 0.02334121
Iteration 257, loss = 0.02326703
Iteration 258, loss = 0.02312983
Iteration 259, loss = 0.02307473
Iteration 260, loss = 0.02299737
Iteration 261, loss = 0.02289088
Iteration 262, loss = 0.02283551
Iteration 263, loss = 0.02278143
Iteration 264, loss = 0.02270912

Iteration 265, loss = 0.02262664
Iteration 266, loss = 0.02249718
Iteration 267, loss = 0.02237529
Iteration 268, loss = 0.02232641
Iteration 269, loss = 0.02224431
Iteration 270, loss = 0.02214494
Iteration 271, loss = 0.02206688
Iteration 272, loss = 0.02204699
Iteration 273, loss = 0.02186943
Iteration 274, loss = 0.02181784
Iteration 275, loss = 0.02176429
Iteration 276, loss = 0.02168752
Iteration 277, loss = 0.02161718
Iteration 278, loss = 0.02150481
Iteration 279, loss = 0.02147178
Iteration 280, loss = 0.02136835
Iteration 281, loss = 0.02131431
Iteration 282, loss = 0.02124676
Iteration 283, loss = 0.02117947
Iteration 284, loss = 0.02121326
Iteration 285, loss = 0.02098908
Iteration 286, loss = 0.02093694
Iteration 287, loss = 0.02085439
Iteration 288, loss = 0.02077838
Iteration 289, loss = 0.02069367
Iteration 290, loss = 0.02065514
Iteration 291, loss = 0.02063742
Iteration 292, loss = 0.02046849
Iteration 293, loss = 0.02048004
Iteration 294, loss = 0.02038452
Iteration 295, loss = 0.02021180
Iteration 296, loss = 0.02026261
Iteration 297, loss = 0.02018076
Iteration 298, loss = 0.02018034
Iteration 299, loss = 0.02003272
Iteration 300, loss = 0.01996926
Iteration 301, loss = 0.01988463
Iteration 302, loss = 0.01981854
Iteration 303, loss = 0.01973936
Iteration 304, loss = 0.01967812
Iteration 305, loss = 0.01960037
Iteration 306, loss = 0.01956354
Iteration 307, loss = 0.01947837
Iteration 308, loss = 0.01942562
Iteration 309, loss = 0.01937810
Iteration 310, loss = 0.01934114
Iteration 311, loss = 0.01926097
Iteration 312, loss = 0.01915505
Iteration 313, loss = 0.01911698
Iteration 314, loss = 0.01908702
Iteration 315, loss = 0.01899417
Iteration 316, loss = 0.01894467
Iteration 317, loss = 0.01892262
Iteration 318, loss = 0.01885271
Iteration 319, loss = 0.01871576
Iteration 320, loss = 0.01867798
Iteration 321, loss = 0.01865418
Iteration 322, loss = 0.01858858
Iteration 323, loss = 0.01856007
Iteration 324, loss = 0.01855450
Iteration 325, loss = 0.01856778
Iteration 326, loss = 0.01835228
Iteration 327, loss = 0.01857386
Iteration 328, loss = 0.01837520
Iteration 329, loss = 0.01825540
Iteration 330, loss = 0.01818584
Iteration 331, loss = 0.01810489
Iteration 332, loss = 0.01805158
Iteration 333, loss = 0.01797560
Iteration 334, loss = 0.01793861
Iteration 335, loss = 0.01787615
Iteration 336, loss = 0.01776398
Iteration 337, loss = 0.01771674
Iteration 338, loss = 0.01766110
Iteration 339, loss = 0.01761047
Iteration 340, loss = 0.01763344
Iteration 341, loss = 0.01755825
Iteration 342, loss = 0.01748233
Iteration 343, loss = 0.01739737
Iteration 344, loss = 0.01740101
Iteration 345, loss = 0.01732468
Iteration 346, loss = 0.01729991
Iteration 347, loss = 0.01722336
Iteration 348, loss = 0.01715826
Iteration 349, loss = 0.01712059
Iteration 350, loss = 0.01707725
Iteration 351, loss = 0.01699802
Iteration 352, loss = 0.01704041
Iteration 353, loss = 0.01690292
Iteration 354, loss = 0.01683610
Iteration 355, loss = 0.01687655
Iteration 356, loss = 0.01679395
Iteration 357, loss = 0.01669135
Iteration 358, loss = 0.01666687
Iteration 359, loss = 0.01675378
Iteration 360, loss = 0.01669831
Iteration 361, loss = 0.01652777
Iteration 362, loss = 0.01644373
Iteration 363, loss = 0.01642476
Iteration 364, loss = 0.01653566
Iteration 365, loss = 0.01639763
Iteration 366, loss = 0.01626232
Iteration 367, loss = 0.01630246
Iteration 368, loss = 0.01627471
Iteration 369, loss = 0.01628072
Training loss did not improve more than tol=0.000010 for two consecutive epochs. Stopping.

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=100, learning_rate='constant',
       learning_rate_init=0.001, max_iter=500, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=1e-05, validation_fraction=0.1,
       verbose=True, warm_start=False)

In [43]:
# Testando o modelo criado à partir dos dados de treinamento
previsoes = classificador.predict(previsores_test)

In [44]:
# Calculando a precisão do nosso modelo
from sklearn.metrics import confusion_matrix, accuracy_score

In [45]:
precisao = accuracy_score(classe_test, previsoes)
precisao

0.996

In [46]:
matriz = confusion_matrix(classe_test, previsoes)
matriz

array([[435,   1],
       [  1,  63]], dtype=int64)

## Resultado
### Redes Neurais (MLP Classifier - multi layer perceptron)
0.996 - max_iter=200, activation='relu', tol=0.0001, solver='adam'    
0.996 - max_iter=500, activation='relu', tol=0.00001, solver='adam'